/**
	* @name Priscord
	* @description PrismLauncher themed Discord theme.
	* @version 0.1.0
	* @author Lylythii
	* @authorId null
	* @website https://lylythii.github.io
	* @invite xsbNuYXBd5
	* @donate https://paypal.me/Lylythii
	* @patreon https://patreon.com/Lylythii
	* @source https://github.com/Lylythii/Priscord/blob/main/Priscord.theme.css
	* @updateUrl https://raw.githubusercontent.com/Lylythii/Priscord/main/Priscord.theme.css
*/

#app-mount .bg-1QIAus {
	background: var(--background-image);
	background-position: var(--background-image-position, center);
	background-size: var(--background-image-size, cover);
}

:root,
.theme-dark,
.theme-light {
    --background-primary: #15181c;
	/* --background-secondary: #21242b; */
	--background-secondary: #21242b90;
    --background-secondary-alt: #313540;
    --background-secondary-alt: #21242b;
    /* --background-tertiary: #15181c; */
    --background-tertiary: transparent;
	/* Icons */
	--priscord-home-icon: url(https://raw.githubusercontent.com/PrismLauncher/prismlauncher.org/40d89d06ae90c7cbef18b06f52fd9a4c30c61db8/src/img/logo.svg);
	--background-image: url('https://raw.githubusercontent.com/PrismLauncher/prismlauncher.org/40d89d06ae90c7cbef18b06f52fd9a4c30c61db8/src/img/background/prism-background.svg');
}

.homeIcon-r0w4ny path {
	fill: transparent;
}
.homeIcon-r0w4ny {
  background: var(--priscord-home-icon) center/cover no-repeat;
  min-width: 50px;
  min-height: 50px;
}
.homeIcon-r0w4ny {
	background-color: #15181c;
}
